<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h1> <center> Python - Variables, Expressions & Statements </center> </h1> </font>

# Variables

The major purpose of variable is to store a value from one part of program so that it can be used in other part of program. It can be used to store the value of computation that is carried out during the flow of the program. A variable is a name that referes to a value.

<b> Assignment statement<b>

Assignment statement creates a new variable and store a value in it. For example,

In [1]:
message = "this is first string variable"  # a string type variable named message is created and value is stored in it
print(message)

this is first string variable

In [2]:
num = 5 # an int type variable named num is created and 5 is stored as value in int 
print("num contains ----> ", num)
print("type of num -----> ", type(num))

num contains ---->  5
type of num ----->  <class 'int'>

In [3]:
float_num = 3.5 # a variable of type float is created and value 3.5 stored in it
print("float_num contains ----->  ", float_num)

float_num = 4.5 # value of variable can be changed
print("float_num now contains ----->  ", float_num)

float_num contains ----->   3.5
float_num now contains ----->   4.5

<b>Variable Naming<b>

Choose the variable name that is meaningful and improves the readability of the program. <br>
Rules to be kept in mind while naming the variables : <br>
    - Letters, numbers and underscore are allowed
    - Can not contain spaces 
    - Can not start with number
    - It's case sensitive
    - It should not be from the reserved keyword list

In [4]:
var_name = "valid variable name" #valid variable name with letters

In [5]:
number1 = 12 # valid varibale name of type int

In [6]:
_name = "valid variable"  #variable name with underscore

In [7]:
# var name = "some value" #invalid variable name as it contains space in it

In [7]:
1_name = "invalid variable"  # throws error as it starts with number

SyntaxError: invalid decimal literal (3855317601.py, line 1)

Variable names are case sensitive. Following three variable has same spelling but still contains different values in it.

In [8]:
name1 = "xyz"

In [9]:
Name1 = "por"

In [10]:
NaMe1 = "abc"

In [11]:
print("name1--->", name1)

name1---> xyz

In [12]:
print("Name1--->", Name1)

Name1---> por

In [13]:
print("NaMe1--->", NaMe1)

NaMe1---> abc

Variable name can not be a keyword.

In [15]:
#class = "my class value"    # throws erros as class is reserved word

# Statements

It is unit of code that Python interpreter executes. It can be a single statement or group of statement like statements within loops, functions etc. When interpreter hits statement, it executes the statement and displays the result (if there is any).

In [14]:
#Function call is statement
print('this is statement')

this is statement

In [15]:
#Assignment is statement but does not produce any output
x = 5

In [16]:
type(x)

int

In [20]:
range(10)

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(2,10,2))

[2, 4, 6, 8]

In [21]:
list(range(-8,-1,2))

[-8, -6, -4, -2]

In [25]:
#Compound statment - for loop
for var in range(5):
    print("Coming inside the loop ----> " , var + 1 , " times")
    print("var is ---> ", var)

Coming inside the loop ---->  1  times
var is --->  0
Coming inside the loop ---->  2  times
var is --->  1
Coming inside the loop ---->  3  times
var is --->  2
Coming inside the loop ---->  4  times
var is --->  3
Coming inside the loop ---->  5  times
var is --->  4

# 18 table

In [ ]:
num = int(input("Enter number for which table you want "))
print("Here Your table Begins for ",num)
for i in range(1,11): ## range(1,11) will take values from 1 to 10
    print(num," times ",i, " = ",num*i)

# Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [19]:
35 + 45 + 23

103

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 3 to the result of the multiplication (i.e., 12).

In [3]:
4 * 3 + int(3/5) - 3

9

<b>Operators and Operands<b>

These are special symbols that represents computations like addition, multiplication etc. Operand are values on which operators are applied.

In [1]:
x = 5 + 6  # + is operator applied on operands 5 & 6

In [2]:
x

11

In [3]:
y = x * 9 # * is operator applied on operands x & 9.5

In [4]:
y

99

In [5]:
# z = y + 'abcs'  #throws error as operands should be compatible with the operator

In [6]:
z = str(y) + str('abcs')
z

ValueError: invalid literal for int() with base 10: 'abcs'

In [14]:
string = 'Anand' + ' ' + 'Jha' #for string + is concatenation 
string

'Anand Jha'

In [15]:
string = "BITS Pilani " * 3 #for string * is repetation
string

'BITS Pilani BITS Pilani BITS Pilani '

In [10]:
string = "BITS Pilani " + str(3)
string

'BITS Pilani 3'

<b>Mathematical Operations / Expressions<b>

In [11]:
5 + 3 # addition

8

In [12]:
5 - 3 # subtraction

2

In [13]:
5 * 3 #multiplication

15

In [14]:
5 / 3 # regular division

1.6666666666666667

In [15]:
5 // 3 # modulo division, returns reminder after division for quotient

1

In [16]:
5 % 3 #integer division for remainder

2

In [17]:
25 ** 3 # exponent 25 raised to power

15625

In [24]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

print(num1," + ",num2," = ",num1+num2)  
print(num1," - ",num2," = ",num1 - num2) 
print(num1 * num2) 
print(num1 / num2)
print(num1 // num2)
print(num1 % num2) 
print(num1 ** num2)

Enter first number: 23
Enter second number: 56
23  +  56  =  79
23  -  56  =  -33
1288
0.4107142857142857
0
23
18061708005752857061620870906539210750802836284237842525970767008798325863361

In [25]:
num1 = 8
num1 += 5 # num1 = num1 + 5 shorthand notation +=
print(num1)
num1 -= 1
print(num1)

13
12

<b> Comparison Operations<b>

In [26]:
num1 = 4
num2 = 12
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

False
True
False
True
False
True

In [28]:
voter_age = int(input("Enter Your Age : "))
if (voter_age == 28):
    print("Eligible for voting")
else:
    print("Not Eligible for voting")

Enter Your Age : 17
Not Eligible for voting

# Exercise

Q1. Compute the simple interest using the formula interest = p * n * r / 100 where p is principal, n is tenure of loan, and r is rate of interest. Accept p, n, r from users and then perform the interest calculation.

In [30]:
a = 5

In [31]:
type(a)

int

In [32]:
#Try it here

p = eval(input("Enter Principal :")) 
#automatically identifies the type of value during runtime
n = eval(input("Enter Tenure :"))
r = eval(input("Enter Rate Of Interest in % :"))

si = (p * n * r) / 100

print("Interest Calculated : ",str(si))

Enter Principal :800000
Enter Tenure :10
Enter Rate Of Interest in % :11.00
Interest Calculated :  880000.0

In [34]:
type(p)

float

In [35]:
type(n)

int

In [36]:
type(r)

float

In [37]:
type(si)

float

Q2. Write a program that asks user weight in kilogram and converts into pounds. There are 2.2 pound in one kilogram.

In [39]:
#Try it here
weight = eval(input("Enter the weight in kg: "))
weight_pound = weight*2.2
print("Your weight in pound is: ", weight_pound)

Enter the weight in kg: 64.37
Your weight in pound is:  141.61400000000003

Q3. If a four digit number is entered through keyboard by user. Write a program to calculate the sum of its digits.

In [ ]:
#Try it here

# Answers

In [42]:
#Q1 Solution
p = eval(input("Enter the principal amount \n"))
n = eval(input("Enter the tenure of loan in years \n"))
r = eval(input("Enter the rate of interest in percentage \n"))

interest = (p * n * r) / 100
print("The interest for loan amount of Rs ", p , " for tenure ", n, " years ", "with interest rate ", r,  "%\n", interest)

Enter the principal amount
34000
Enter the tenure of loan in years
9
Enter the rate of interest in percentage
12
The interest for loan amount of Rs  34000  for tenure  9  years  with interest rate  12 %
 36720.0

In [39]:
#Q2 Solution
weight = eval(input("Enter the weight in kilogram \n"))
weight_in_pounds = weight * 2.2

print(weight, "kg = ", weight_in_pounds , " pounds ")

Enter the weight in kilogram
56
56 kg =  123.20000000000002  pounds

In [40]:
type(weight)

int

In [40]:
#Q3 Solution
number = int(input("Enter a four digit number"))

sum_of_digits = 0 

digit1 = number % 10
sum_of_digits = sum_of_digits + digit1
number = int(number / 10 )

digit2 = number % 10
sum_of_digits = sum_of_digits + digit2
number = int(number / 10)

digit3 = number % 10
sum_of_digits = sum_of_digits + digit3
number = int(number / 10)

digit4 = number % 10
sum_of_digits = sum_of_digits + digit4
number = int(number / 10)

print("The sum of digits of number is  ", sum_of_digits)

Enter a four digit number8956
The sum of digits of number is   28

# give me the sum of digits upto 5 digit number

In [41]:
num = int(input("Input a four digit numbers: "))
x  = num //1000
x1 = (num - x*1000)//100
x2 = (num - x*1000 - x1*100)//10
x3 = num - x*1000 - x1*100 - x2*10
print("The sum of digits in the number is", x+x1+x2+x3)

Input a four digit numbers: 3456
The sum of digits in the number is 18

In [44]:
number = int(input("Enter number upto 5 digit "))
unit_dig = number%10
tens_dig = (number//10)%10
hund_dig = (number//100)%10
th_dig = (number//1000)%10
tth_dig = (number//10000)%10
sum_of_digits = unit_dig+tens_dig+hund_dig+th_dig+tth_dig
print("Sum of the digits from ",number,"is ",sum_of_digits)

Enter number upto 5 digit45678
Sum of the digits from  45678 is  30

In [50]:
number1=eval(input("Enter Any number"))
number_lenght=len(str(number1))
sum=0
for i in range(1,number_lenght):
  number_lenght=number_lenght%10
  sum=sum+number_lenght
  number_lenght=number_lenght/10
print(sum)

Enter Any number25325522512523
4.4444444444440006

In [47]:
a = 234

In [48]:
a

234

In [49]:
b = len(a)
b

TypeError: object of type 'int' has no len()

In [53]:
num= 2134424
int(input("Enter the number of your choice whose sum of digit you need to find:"))
len_input_num = len(str(num))
print("Number you have entered contains ",len_input_num," digits")
extracted_digit = 0
dig_sum = 0
for i in range(len_input_num):
  extracted_digit = num % 10
  dig_sum += extracted_digit
  num = num//10
print("Sum of digits is: ",dig_sum)

Enter the number of your choice whose sum of digit you need to find:234214245
Number you have entered contains  9  digits
Sum of digits is:  27